@import "../../common/styles/sass/variables";

.moviesBlock {
  min-height: 100vh;
  background-color: $bgSecondColor;

  .moviesContainer {
    justify-content: flex-start;

    .movies {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
      margin-top: 5px;

      @media screen and (max-width: 645px) {
        justify-content: center;
      }
    }
  }
}