@import "../../common/styles/sass/variables";

.moviesBlock {
  min-height: 100vh;
  background-color: $bgSecondColor;

  .moviesContainer {
    flex-direction: column;
    justify-content: flex-start;

    .movies {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      box-sizing: border-box;
      margin-top: 5px;

      @media screen and (max-width: 771px) {
        justify-content: center;
      }
    }
  }
}