.container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;

  & div {
    width: 140px;

    & span {
      cursor: pointer;
    }

    .selectedPage {
      font-weight: bold;
    }
  }
}