@import "../../common/styles/sass/variables.scss";

.resultBlock {
  min-height: 60px;

  .searchContainer {
    padding: 10px 0;

    .searching {
      color: $textColor;
      width: 100%;
      text-align: left;
      font-size: 22px;

      .error {
        color: #f89292
      }
    }
  }
}